<!--  head：页面的</head>之前代码 -->
<!DOCTYPE html>
<html ng-app="NtSF" ng-cloak="" class="ng-cloak">
<head>
    <meta charset="UTF-8">
    <title>demo</title>
    <!-- common.css不可变 -->
    <link rel="stylesheet" type="text/css" href="assets/lib/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">

    <!-- ** 注：根据项目的实际情况 添加或删除引入的css文件 ** -->
    <!--
    <link rel="stylesheet" type="text/css" href="assets/css/autocomplete.css">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/datatables.css">
    <link rel="stylesheet" type="text/css" href="assets/css/datarangepicker.css">
    <link rel="stylesheet" type="text/css" href="assets/css/ng-table.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    -->
    
</head>
<body>
<!-- marketing -->
<body ng-controller="marketing">
    <div class="marketing_strategies col-md-10 col-md-offset-1">
        <div class="row">
            <div class="title col-md-12">营销评估
                <img class="marketing_strategies_help_img" ng-show="!activity_data.marketing_strategies" ng-mouseover="activity_data.marketing_strategies=true" src="assets/images/help_off.png">
                <img class="marketing_strategies_help_img" ng-show="activity_data.marketing_strategies" ng-mouseleave="activity_data.marketing_strategies=false" src="assets/images/help_on.png">
                <div class="marketing_strategies_help_div" ng-class="{hidden:!activity_data.marketing_strategies}">
                    <div class="important">只统计赠送优惠券类型的营销</div>
                    <div>发放数：发放到会员的优惠券 + 已使用的优惠券</div>
                    <div>打开数：会员在个人中心中打开过的优惠券数量</div>
                    <div>打开率：打开数 / 发放数</div>
                    <div>下单数：下单数表示使用优惠券的销售订单数</div>
                    <div>下单转化率：下单数 / 发放数</div>
                    <div>销售额：销售额表示使用优惠券的销售订单总额</div>
                    <div>优惠券抵扣金额：订单所用优惠券抵扣金额的总和</div>
                </div>
            </div>
        </div>
        <!-- help -->
        <!-- <div class="arrow"><img src="assets/images/arrow.png"></div> -->
        
        <div class="activity_radio">
            <label ng-repeat="val in activity_list track by $index">
                <input 
                    type="radio" 
                    ng-value="val.activity_code" 
                    ng-model="search_data.activity_code"/>
                    {{val.activity_name}}
            </label>
            <input type="text" placeHolder="指定会员促销编码" ng-model="activity_code_input" ng-disabled="search_data.activity_code=='all'" >
            <!-- <button ng-click="search()">搜 索</button> -->
            <button ng-click="search()" ng-disabled="button_disable_class=='button_disable'" ng-class="button_disable_class">{{button_disable_class=='button_disable'?'搜索...':'搜索'}}</button>
        </div>
        <div class="marketing_content">
            <div>
                <span>发放数：</span><span>{{activity_data.send_coupon_qty}}</span>
                <!-- <img ng-show="!data.check_rate_show" src="/assets/images/help_off.png"> -->
            </div>
            <div>
                <span>打开数：</span><span>{{activity_data.check_coupon_qty}}</span>
                <!-- <img ng-show="!data.check_rate_show" src="/assets/images/help_off.png"> -->
            </div>
            <div>
                <span>打开率：</span>
                <span>{{activity_data.check_rate*100|number:2}}%</span>
            </div>
            <div>
                <span>下单数：</span>
                <span>{{activity_data.sale_order_total_qty}}</span>
                <!-- <img ng-show="!data.check_rate_show" src="/assets/images/help_off.png"> -->
            </div>
            <div>
                <span>下单转化率：</span>
                <span>{{activity_data.sale_order_rate*100|number:2}}%</span>
            </div>
            <div>
                <span>销售额：</span>
                <span>{{activity_data.sale_order_total_amount|currency : '￥'}}</span>
            </div>
            <div>
                <span>优惠券抵扣金额：</span>
                <span>{{activity_data.coupon_discount_amount|currency : '￥'}}</span>
            </div>
        </div>
        <!-- '发放人数','打开人数','下单人数' -->
        <div class="bar_tit">
            <span>发放数:</span>
            <span>打开数:</span>
            <span>下单数:</span>
        </div>
        <div id="marketing_bar">
            <!-- bar -->
        </div>
    </div>
    <!-- <div class="marketing_activity">
        <div class="title">TOP5营销活动
            <img 
                class="member_group_qty_help_img" 
                ng-show="!member_group_qty_help_show" 
                ng-mouseover="member_group_qty_help_show=true" 
                src="assets/images/help_off.png">
            <img 
                class="member_group_qty_help_img" 
                ng-show="member_group_qty_help_show" 
                ng-mouseleave="member_group_qty_help_show=false" 
                src="assets/images/help_on.png">
            <div class="member_group_qty_help" ng-class="{hidden:!member_group_qty_help_show}">
                <div class="important">只统计赠送优惠券类型的营销</div>
                <div>分组人数： 在营销活动结束时，所参与此营销的会员人数</div>
            </div>
        </div>
        
        
        <div class="select_order">
            <label ng-repeat="val in sort_type_list track by $index">
                <input 
                    type="radio" 
                    ng-value="val.sort_type" 
                    ng-change="order_search()"
                    ng-model="search_sort.sort_type"/>
                    {{val.sort_type_name}}
            </label>
            <select 
                class="" 
                ng-model="order_search_select.order_id" 
                ng-options="m.order_id as m.order_name for m in order_list" 
                ng-change="order_search()">
            </select>
        </div>
        
        <div>
            <table >
                <tr>
                    <th>活动名称</th>
                    <th>分组人数</th>
                    <th>发放数</th>
                    <th>下单数</th>
                    <th>销售额</th>
                    <th>优惠券抵扣金额</th>
                    <th>下单转化率</th>
                </tr>
                <tr class="tr_class" ng-repeat="campaign in campaign_list">
                    <td>{{campaign.campaign_name}}</td>
                    <td>{{campaign.member_group_qty}}</td>
                    <td>{{campaign.send_coupon_qty}}</td>
                    <td>{{campaign.sale_order_total_qty}}</td>
                    <td>{{campaign.sale_order_total_amount}}</td>
                    <td>{{campaign.coupon_discount_amount}}</td>
                    <td>{{campaign.sale_order_rate*100|number:2}}%</td>
                </tr>
            </table>
        </div>
    </div>
 -->
    <!-- script：引入 js 文件 -->
        <!-- ** 注：根据项目的实际情况 添加或删除引入的js文件 ** -->

	<script src="assets/lib/jquery.min.js"></script>
	<script src="assets/lib/bootstrap.min.js"></script>
	 
	<script src="assets/lib/echarts.min.js"></script>
	<script src="assets/lib/angular-1.4.8.min.js"></script>
	<script src="assets/lib/angular-resource.js"></script>
	<script src="assets/lib/angular-route.js"></script>
	<script src="assets/api/api.config.js"></script>
	<script src="assets/api/api.js"></script>
	
    <script type="text/javascript">
    	// piwik
        document.title = '申请试用';
    </script>

  </body>
</html>

    <script type="text/javascript">
    	// piwik
        // document.title = '首页';
    </script>

<!-- bottom：加载loading和piwik -->
    <script>
    // var site_id = getUrlParameter('site_id');
    // var _paq = _paq || [];

    // _paq.push(['enableLinkTracking', true]);
    // (function() {
    //     try {
    //         // var site_id = false;
            
    //         if(site_id == '' || site_id == false){
    //             return
    //         }
    //         var u = "//a.nexttao.com";
            
    //         if(u == "" || u == "false" || u == false){
    //             return
    //         }
    //         _paq.push(['setTrackerUrl', u+'piwik.php']);
    //         _paq.push(['setSiteId', site_id]);
    //         _paq.push(['setDocumentTitle', document.title]);
           
    //         _paq.push(['trackPageView']);
    //         var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    //         g.type='text/javascript'; 
    //         g.async=true; 
    //         g.defer=true;
    //         g.src=u+'piwik.js';
    //         s.parentNode.insertBefore(g,s);
    //     }catch (e){
    //         console.log(e);
    //     }
    // })();
  </script>

  <div id="bg"></div>

  <div class="data_content" style="display: none">
    <div class="loading"></div>
    <!-- loading -->
    <div class="loader loader--style1" title="0">
      <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
      <path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
        s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
        c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"/>
      <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
        C22.32,8.481,24.301,9.057,26.013,10.047z">
        <animateTransform attributeType="xml"
          attributeName="transform"
          type="rotate"
          from="0 20 20"
          to="360 20 20"
          dur="0.5s"
          repeatCount="indefinite"/>
        </path>
      </svg>
      <p>加载中...</p>
    </div>  
  </div>

  </body>
</html>
