<!--  head：页面的</head>之前代码 -->
<#include 'inc.head.html'>
<body ng-controller="dataSearch">
    <div class="title">请选择条件查找数据</div>
    <div class="search_title">
        <div ng-class="{'find_customer_selected':search_flg=='find_customer'}" ng-click="search_flg='find_customer'">为商品找消费者</div>
        <div ng-class="{'goods_for_consumers_selected':search_flg=='goods_for_consumers'}" ng-click="search_flg='goods_for_consumers'">为消费者推荐商品</div>
        <div ng-class="{'commodity_collocation_selected':search_flg=='commodity_collocation'}"  ng-click="search_flg='commodity_collocation'">推荐商品搭配</div>
    </div>
    <div class="search_content clear">

        <!-- 为商品找消费者-->
        <div ng-if="search_flg=='find_customer'">
            <div class="category" ng-repeat="find_customer in find_customers">
                <!-- title -->
                <img ng-if="!find_customer.show_flg" src="assets/images/plus.png" ng-click="show_img(find_customer)">
                <img ng-if="find_customer.show_flg" src="assets/images/add.png" ng-click="show_img(find_customer)">
                <h2>{{find_customer.category_name}}&nbsp;&nbsp;&nbsp;（{{find_customer.count}}）</h2>

                <div ng-if="!find_customer.show_flg" class="type_div" ng-repeat="category_type in find_customer.category_types">

                    <div class="type_title">
                        <!-- 标题1 -->
                        <div ng-if="!!category_type.category_type_title" class="category_type_title">           {{category_type.category_type_title}}
                        </div>
                        <!-- 标题2 -->
                        {{category_type.category_type_name}}
                        <img ng-if="category_type.show_flg && category_type.show_detail" 
                             class="detail_img"
                             src="assets/images/plus.png" 
                             ng-click="show_detail_img(category_type)">
                        <img ng-if="!category_type.show_flg && category_type.show_detail" 
                             class="detail_img"
                             src="assets/images/add.png" 
                             ng-click="show_detail_img(category_type)">
                    </div>

                    <!-- 正常循环 -->
                    <div class="type_content">
                        <div class="type_detail" 
                             ng-click="count_checked(find_customer, category_type, category)" 
                             ng-class="{selected_span:category.checked}" 
                             ng-repeat="category in category_type.category_type_arr">
                                {{category.name}}
                        </div>
                    </div>
                    <!-- detail -->
                    <div ng-if="category_type.show_detail&&category_type.show_flg">
                        <div ng-repeat="category_type_arr in category_type.category_type_arr" ng-if="category_type_arr.checked" >
                            <div ng-repeat="details in category_type_arr.detail">
                                <div class="type_title2">
                                    <div class="category_type_title">
                                        {{details.name}}
                                    </div>
                                </div>
                                <div class="type_content2">
                                    <div class="type_detail2" 
                                         ng-if="category_type_arr.detail">
                                        <div class="type_detail" 
                                             ng-class="{selected_span:detail.checked}" 
                                             ng-if="category_type_arr.checked" 
                                             ng-repeat="detail in details.detail_arr" 
                                             ng-click="detail_checked(detail)">
                                                {{detail.detail_name}}
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- 为消费者推荐商品 -->
        <div ng-if="search_flg=='goods_for_consumers'">
            <div class="category" ng-repeat="goods_for_consumer in goods_for_consumers">
                <!-- title -->
                <img ng-if="!goods_for_consumer.show_flg" src="assets/images/plus.png" ng-click="show_img(goods_for_consumer)">
                <img ng-if="goods_for_consumer.show_flg" src="assets/images/add.png" ng-click="show_img(goods_for_consumer)">
                <h2>{{goods_for_consumer.category_name}}&nbsp;&nbsp;&nbsp;（0）</h2>

                <!-- 会员... -->
                <div ng-if="!goods_for_consumer.show_flg" class="type_div" ng-repeat="category_type in goods_for_consumer.category_types">

                    <div class="type_title">
                        <!-- 标题1 -->
                        <div ng-if="!!category_type.category_type_title" class="category_type_title">           {{category_type.category_type_title}}
                        </div>
                        <!-- 标题2 -->
                        {{category_type.category_type_name}}
                    </div>
                    <!-- 正常循环 -->
                    <div class="type_content" 
                         ng-if="category_type.category_type_name!='区域'
                              &&category_type.category_type_name!='RFM'">

                        <span class="type_detail" ng-click="selected==type?selected='':selected=type" ng-class="{selected_span:selected==type}" ng-repeat="type in category_type.category_type_arr">{{type}}</span>
                    </div>

                    <!-- 特殊情况 -->
                    <!-- 区域 -->
                    <div class="type_content" ng-if="category_type.category_type_name=='区域'">
                        <span class="type_detail" ng-click="selected==type?selected='':selected=type" ng-class="{selected_span:selected==type}" ng-repeat="type in category_type.category_type_arr">{{type.type_name}}
                            <!-- <span ng-if="">{{type.type_detail.name}}</span> -->
                        </span>
                        
                    </div>
                    <!-- RFM -->
                    <div class="type_content" ng-if="category_type.category_type_name=='RFM'">
                        <span class="rfm type_detail" ng-click="selected==type?selected='':selected=type" ng-class="{selected_span:selected==type}" ng-repeat="type in category_type.category_type_arr1">{{type}}</span>
                        <br>
                        <span class="rfm type_detail" ng-click="selected==type?selected='':selected=type" ng-class="{selected_span:selected==type}" ng-repeat="type in category_type.category_type_arr2">{{type}}</span>
                        <br>
                        <span class="rfm type_detail" ng-click="selected==type?selected='':selected=type" ng-class="{selected_span:selected==type}" ng-repeat="type in category_type.category_type_arr3">{{type}}</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- 推荐商品搭配 -->
        <div ng-if="search_flg=='commodity_collocation'">
            <div class="category">推荐商品搭配</div>
        </div>
    </div>
    <div class="bottom">
        <input type="text" placeholder="请给生成数据包命名">
        <button class="btn btn-primary" type="submit" ng-click="generating_packets()">生成数据包</button>
        <button class="btn btn-default">取消</button>
    </div>
    <!-- script：引入 js 文件 -->
    <#include 'inc.script.html'>
    <script type="text/javascript">
        // piwik
        document.title = '零售数据查询';
    </script>

<!-- bottom：加载loading和piwik -->
<#include 'inc.bottom.html'>
