/*input{
	border: 1px solid #ccc;
}*/

html{
	font-size: 100%;
}
/*table*/
table{
	width: 50%;
	height: 100%;
	/*min-width: 1200px;*/
	margin: 3rem;
	border-collapse: collapse;
	box-shadow: 0 0 10px #c7c5c5;
	border: 1px;
	cursor: pointer;
}

table tr:nth-child(2n){
	background-color: #f1f1f1;

}
td{
	height: 2rem;
	vertical-align:middle;
	text-align: center;
}
.ng-invalid-required{
	border: red;
}



