<!DOCTYPE html>
<html ng-app="NtSF">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="assets/css/common.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <script type="text/javascript" src="project.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="assets/css/style.css"> -->
    <script>
        // var storage = window.localStorage;
        // var TOKEN = (!!storage.getItem('NXPB_TOKEN'))?storage.getItem('NXPB_TOKEN'):'';
        // if(!!TOKEN){
        //     window.location.href = 'index.html';
        // }
    </script>
</head>
<body class="log-bg"  ng-controller="Login">
    <div class="log-wrap">
        <div class="log-box">
            <form method="POST" ng-submit="login()">
                <div class="t-title">
                </div>
                <div class="input-box">
                   <input type="text" ng-model="data.username" placeholder="请输入您的帐号">
                   <i><img src="assets/images/user.png"></i>
                </div>
                <div class="input-box">
                   <input type="password" ng-model="data.password" placeholder="请输入您的密码">
                   <i><img src="assets/images/password.png"></i>
                </div>
                <button ng-disabled="loading" class="sub-btn">
                    登录
                </button>
            </form>
        </div>
    </div>
    <!-- ** 注：根据项目的实际情况 添加或删除引入的js文件 ** -->

<script src="assets/lib/jquery.min.js"></script> 
<script src="assets/lib/echarts.min.js"></script>
<script src="assets/lib/angular-1.4.8.min.js"></script>
<script src="assets/lib/angular-resource.js"></script>
<script src="assets/lib/angular-route.js"></script>
<script src="assets/lib/bootstrap.min.js"></script>
<script src="assets/lib/common.js"></script>

<!-- 
<script src="assets/lib/ng-infinite-scroll.js"></script>
<script src="assets/lib/ng-table.min.js"></script>
<script src="assets/lib/autocomplete.js"></script>
<script src="assets/lib/moment.min.js"></script>
<script src="assets/lib/dataTool.min.js"></script>
<script src="assets/lib/demo.js"></script>
<script src="assets/lib/tasks.js"></script> 
-->

<script src="assets/api/api.config.js"></script>
<script src="assets/api/api.js"></script>

    <script type="text/javascript">
        document.title = '登陆';
        // $('.nav li.li-homepage').addClass('active');
    </script>
    
    <!-- bottom：加载loading和piwik -->
    <script>
        var _paq = _paq || [];

        _paq.push(['storeCustomVariablesInCookie']);
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
          try {
            var u="//192.168.64.2/piwik/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            
            _paq.push(['setSiteId', '1']);
            _paq.push(['setUserId', 'cai']);

            // Override document.title
            // _paq.push(['setDocumentTitle', 'title']);

            // “visit”表示对一个访问者赋予用户变量，“page”表示对一次页面访问赋予用户变量
            _paq.push(['setCustomVariable', "1", "Platform", P_CV.Platform, 'page']);
            _paq.push(['setCustomVariable', "2", "TenantId", P_CV.TenantID, 'visit']);
            _paq.push(['setCustomVariable', "3", "TenantName", P_CV.TenantName]);
            _paq.push(['setCustomVariable', "4", "ShopName", P_CV.ShopName]);
            _paq.push(['setCustomVariable', "5", "AppVersion", P_CV.Appversion, 'page']);

            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
          }catch (e){
            console.log(e);
          }
        })();
    </script>