/* AUTOCOMPLETE */

.autocomplete{
  width: 205px;
  position: relative;
}

.autocomplete input{
  font-size: 1.2em;
  width: 100%;
  padding:0.4em;
  position: relative;
  z-index: 10;
}

.autocomplete ul{
  padding-left:0;
  position: absolute;
  left: 0;
  width: 100%;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  border-bottom: 1px solid #888;
  z-index: 1;

  border:0;
  width: 220px;
  left: -20px;
  padding-top: 18px;
  top: 18px;
  background: inherit;
  background-color: #cfd8dc;

}

.autocomplete li{
  text-align: left;
  list-style:none;
  width: 100%;
  padding:0.4em;
  padding-left: 30px;
  background-color: #fff;
  background: inherit;
}

.autocomplete li.active{
  width: 100%;
  color:#fff;
  background-color: #001a34;
}

.autocomplete .highlight {
  background-color: #E2E2E2;
  font-size: 16px;
}

.autocomplete li.active .highlight {
  background: #666;
  color: #fff;
}
