
@media only screen and (min-width:1024px){
  /*index*/
  .shop_select input,.shop_length,.row li,.shop_select button{
    font-size:16px;
  }
  .shop_select{
    top: .53rem;
  }
  .ck_cx{
    height: 1rem;
  }
  .ck_tu{
    width: 0.3rem;
    height: 0.3rem;
    margin-top: 0.1rem;
    margin-left: 0.75rem;
  }
  .ck_zi{
    font-size: 18px;
  }
  .md_zi{
    font-size: 18px;
    margin-top: 0;
    line-height: .42rem;
  }
  .md_ck{
    margin: auto;
    float: none;
    height: 0.42rem;
    margin-top: 0.18rem;
    width: 1.2rem;
  }
  .top,.top_cen,.shop_cancel{
    height: 0.5rem;
  }
  .shop_cancel{
    line-height: 0.5rem;
  }
  .top_l{
    height: 0.49rem;
  }
  .top_zj,.shop_change{
    font-size: 18px;
    height: 0.48rem;
    line-height: 0.48rem;
  }
  /*form*/
  #container{
    width: 100%;
  }
  html, body, div, span, applet, object, iframe, h1, h2, h3, 
  h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, 
  big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, 
  small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, 
  fieldset, form, label, legend, table, caption, tbody, tfoot, 
  thead, tr, th, td{
    font-size: 16px;
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
  }
  .condition .item-content.item-button button{
    font-size: 16px;
    padding: 10px 12px;
    height: 42px;
    width: 120px;
    line-height: initial;
  }
  /*选择门店list*/
  .shop_select .scroll{
    color: #34495E;
  }
  /*.data_content{
    height: 600px;
  }
  .dataTables_scrollBody{
    height: 378px!important;
  }*/
  /*section.count{
    bottom: 0;
    top: 542px;
  }
  footer{
    bottom: 0;
    top: 591px;
  }*/
 /* .lbl-step{
    height: 34px;
    line-height: 34px;
  }*/
  /*button{*/
    /*height: 49px!important;
    line-height: 50px!important;
    width: 109px!important;*/
    /*font-size: 14px!important;
    margin-left: 0px;
    padding: 6px 12px!important;
    height: 34px!important;
    width: auto!important;
    line-height: initial!important;*/
  /*}*/

}
