[ng\:cloak],[ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak{
    display:none ! important;
}
a, body{
    color: #34495E;
}
.title{
    /*margin-top: 1rem;*/
    margin-left: -4px;
    font-size: 20px;
    font-family: PingFangSC-Medium;
}
.title::before{
    content:" ";
    position: absolute;
    width: 6px;
    height: 21px;
    margin-left: -1rem;
    margin-top: 0.9rem;
    background-color: #1296db;
    box-shadow: 0px 2px 3px 1px #eaeaea;
}
.datepicker{
    /*margin-top: 1rem;*/
}
.datepicker img, .date_img{
    width: 2rem;
    float: right;
    margin-top: 1rem;
}
.startDate_today{
    background-color: #f7f8fa;
    padding: .6rem 4rem ! important;
}
.startDate{
    background-color: #f7f8fa;
    padding: .6rem 1rem;
}
.header_5{
    line-height: 47px;
}
.date_title{
    /*margin-top: 1.4rem;*/
}
.nav-pills>li>a{
    line-height: 1rem;
    margin-top: 0.5rem;
}
._mar{
    /*margin: 1rem 0;*/
    font-size: 16px;
    display: flex;
    align-items: center;
}
.tit_mar{
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.mar_right{
    border-right: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;
}
.mar_left{
    border-top: 1px solid #eaeaea;
}
._right_mar{
    margin-top: 4rem;
}
.count_text{
    font-size: 16px;
    text-align: center;
}
.count{
    text-align: center;
    color: #ff6a00;
}
.count span{
    font-size: 24px;
    font-weight: 300;
}
.circle{
    width: 3rem;
    height: 3rem;
    background-color: red;
    border-radius: 50%;
}
.circle div{
    margin-top: 8px;
}
.row{
    width: 100%;
}
.well{
    padding: 10px;
    margin-bottom:0;
    border-radius:0;
}
.sale_amount{
    color: #339966;
    font-size: 24px;
}
.big_font{
    font-size: 24px;
}
.sale_count{
    color: #34495E;
    /*font-weight: 700;*/
    font-size: 24px;
}
#sale_on_off{
    width: 300px;
    height: 150px;
}
.line_on::before{
    content:" ";
    position: absolute;
    width: 1rem;
    height: 1rem;
    margin-left: -1.3rem;
    margin-top: 0.4rem;
    background-color: #FF9900;
}
.line_off::before{
    content:" ";
    position: absolute;
    width: 1rem;
    height: 1rem;
    margin-left: -1.3rem;
    margin-top: 0.4rem;
    background-color: #FFB97B;
}
.line_on_off_amount{
    font-size: 24px;
}
.flex_channel{
    display: flex;
    border: 1px solid #eaeaea;
}
.flex_lr{
    /*width: 25%; */
    display: flex;
    justify-content: flex-start;
    /* justify-content: space-evenly; */
    align-items: center;
    flex-grow: 2;
}
.channel_left{
    width: 94px;
    height: 100%;
    background-color: #F7F8FA;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.channel_right {
    padding-left: 10px;
    margin: 1rem 0;
}
.channel_right div{
    margin: .5rem 0;
}
.div2{
    background-color: white; 
    margin-top:1rem; 
    /*border: 1px solid #eaeaea;*/
}
.staff_sort{
    display: flex;
    border: 1px solid #eaeaea;
}
.staff_left{
    /*margin: 1rem;*/
    width: 13%;
}
.tr_div{
    padding: 8px;
}
.staff_right{
    width: 84.5%;
    /*margin: 1rem;*/
    display: flex;
    
}
.right_column{
    min-width: 150px;
    border-right: 1px solid #eaeaea;
}
.staff_right div div{
    padding:3px;
}
.staff_color{
    background-color: #F7F8FA;
}
.tit{
    color: #34495E;
    font-size: 18px;
    font-weight: 700;
}
.tit_num{
    color: #DA1E24;
    font-size: 16px;
    font-weight: 700;
}
.tit_1{
    color: #34495E;
    font-weight: 700;
    font-size: 16px;
}
.tit_2{
    color: #748292;
    font-weight: 300;
    font-size: 13px;
}