<!--  head：页面的</head>之前代码 -->
<#include 'inc.head.html'>
<body>
    <!-- header：body的共同header -->
    <#include 'inc.header.html'>
    <div class="container" ng-controller="form">
    	<!-- <a href="index.html">首页</a><br><br> -->
        <button ng-click="click()">提交</button>
    	<!-- input -->
        input:<br>
        <input type="text" ng-model="input" required/> 输入：{{input}}<br><br>
        <!-- textarea -->
		textarea:<br>
		<textarea placeholder="请输入" ng-model="textarea"></textarea> 输入：{{textarea}}<br><br>

		<!-- date -->
		<input type="date" ng-model="nowDate"> 选择日期：{{nowDate|date:'yyyy-MM-dd'}}<br><br>

		<!-- radio -->
		radio:<br>
		<label ng-repeat="val in radio_list track by $index">
            <input 
                type="radio" 
                ng-value="val.id" 
                name="radio_name"
                ng-model="radio_input">
                {{val.name}}
        </label>选择：{{radio_input}}
		<br><br>

        checkbox:<br>
        <!-- checkbox -->
       	<!--  ng-true-value="'choosed'" 
        ng-false-value="'unchoosed'"  -->
        <!-- <input 
        	type="checkbox" 
        	name="vehicle" 
        	value="Car" 
        	checked="checked" /> 
        	I have a car -->
        <li ng-repeat="item in checkbox_list">
		    <input name="myName" checklist-value="{{item.id}}" type="checkbox" 
		     ng-checked="checkbox_input==item.id" checklist-model="checkbox_input"/>{{item.name}}
		</li>
		<label ng-repeat = "val in checkbox_list">
			<input name="myName" checklist-value="{{val.id}}" type="checkbox" 
		     ng-checked="checkbox_input==val.id" checklist-model="checkbox_input"/>{{val.name}}
        </label>
        <br><br>

        select:<br>
		<!-- select -->
		<select 
            ng-model="select_input" 
            ng-options="m.id as m.name for m in select_list">
        </select>
    </div>

    <!-- script：引入 js 文件 -->
    <#include 'inc.script.html'>

    <script type="text/javascript">
    	// piwik
        document.title = 'form';
    </script>

<!-- bottom：加载loading和piwik -->
<#include 'inc.bottom.html'>
