<!--  head：页面的</head>之前代码 -->
<#include 'inc.head.html'>
<!-- marketing -->
<body ng-controller="marketing">
    <div class="marketing_strategies col-md-10 col-md-offset-1">
        <div class="row">
            <div class="title col-md-12">营销评估
                <img class="marketing_strategies_help_img" ng-show="!activity_data.marketing_strategies" ng-mouseover="activity_data.marketing_strategies=true" src="assets/images/help_off.png">
                <img class="marketing_strategies_help_img" ng-show="activity_data.marketing_strategies" ng-mouseleave="activity_data.marketing_strategies=false" src="assets/images/help_on.png">
                <div class="marketing_strategies_help_div" ng-class="{hidden:!activity_data.marketing_strategies}">
                    <div class="important">只统计赠送优惠券类型的营销</div>
                    <div>发放数：发放到会员的优惠券 + 已使用的优惠券</div>
                    <div>打开数：会员在个人中心中打开过的优惠券数量</div>
                    <div>打开率：打开数 / 发放数</div>
                    <div>下单数：下单数表示使用优惠券的销售订单数</div>
                    <div>下单转化率：下单数 / 发放数</div>
                    <div>销售额：销售额表示使用优惠券的销售订单总额</div>
                    <div>优惠券抵扣金额：订单所用优惠券抵扣金额的总和</div>
                </div>
            </div>
        </div>
        <!-- help -->
        <!-- <div class="arrow"><img src="assets/images/arrow.png"></div> -->
        
        <div class="activity_radio">
            <label ng-repeat="val in activity_list track by $index">
                <input 
                    type="radio" 
                    ng-value="val.activity_code" 
                    ng-model="search_data.activity_code"/>
                    {{val.activity_name}}
            </label>
            <input type="text" placeHolder="指定会员促销编码" ng-model="activity_code_input" ng-disabled="search_data.activity_code=='all'" >
            <!-- <button ng-click="search()">搜 索</button> -->
            <button ng-click="search()" ng-disabled="button_disable_class=='button_disable'" ng-class="button_disable_class">{{button_disable_class=='button_disable'?'搜索...':'搜索'}}</button>
        </div>
        <div class="marketing_content">
            <div>
                <span>发放数：</span><span>{{activity_data.send_coupon_qty}}</span>
                <!-- <img ng-show="!data.check_rate_show" src="/assets/images/help_off.png"> -->
            </div>
            <div>
                <span>打开数：</span><span>{{activity_data.check_coupon_qty}}</span>
                <!-- <img ng-show="!data.check_rate_show" src="/assets/images/help_off.png"> -->
            </div>
            <div>
                <span>打开率：</span>
                <span>{{activity_data.check_rate*100|number:2}}%</span>
            </div>
            <div>
                <span>下单数：</span>
                <span>{{activity_data.sale_order_total_qty}}</span>
                <!-- <img ng-show="!data.check_rate_show" src="/assets/images/help_off.png"> -->
            </div>
            <div>
                <span>下单转化率：</span>
                <span>{{activity_data.sale_order_rate*100|number:2}}%</span>
            </div>
            <div>
                <span>销售额：</span>
                <span>{{activity_data.sale_order_total_amount|currency : '￥'}}</span>
            </div>
            <div>
                <span>优惠券抵扣金额：</span>
                <span>{{activity_data.coupon_discount_amount|currency : '￥'}}</span>
            </div>
        </div>
        <!-- '发放人数','打开人数','下单人数' -->
        <div class="bar_tit">
            <span>发放数:</span>
            <span>打开数:</span>
            <span>下单数:</span>
        </div>
        <div id="marketing_bar">
            <!-- bar -->
        </div>
    </div>
    <!-- <div class="marketing_activity">
        <div class="title">TOP5营销活动
            <img 
                class="member_group_qty_help_img" 
                ng-show="!member_group_qty_help_show" 
                ng-mouseover="member_group_qty_help_show=true" 
                src="assets/images/help_off.png">
            <img 
                class="member_group_qty_help_img" 
                ng-show="member_group_qty_help_show" 
                ng-mouseleave="member_group_qty_help_show=false" 
                src="assets/images/help_on.png">
            <div class="member_group_qty_help" ng-class="{hidden:!member_group_qty_help_show}">
                <div class="important">只统计赠送优惠券类型的营销</div>
                <div>分组人数： 在营销活动结束时，所参与此营销的会员人数</div>
            </div>
        </div>
        
        
        <div class="select_order">
            <label ng-repeat="val in sort_type_list track by $index">
                <input 
                    type="radio" 
                    ng-value="val.sort_type" 
                    ng-change="order_search()"
                    ng-model="search_sort.sort_type"/>
                    {{val.sort_type_name}}
            </label>
            <select 
                class="" 
                ng-model="order_search_select.order_id" 
                ng-options="m.order_id as m.order_name for m in order_list" 
                ng-change="order_search()">
            </select>
        </div>
        
        <div>
            <table >
                <tr>
                    <th>活动名称</th>
                    <th>分组人数</th>
                    <th>发放数</th>
                    <th>下单数</th>
                    <th>销售额</th>
                    <th>优惠券抵扣金额</th>
                    <th>下单转化率</th>
                </tr>
                <tr class="tr_class" ng-repeat="campaign in campaign_list">
                    <td>{{campaign.campaign_name}}</td>
                    <td>{{campaign.member_group_qty}}</td>
                    <td>{{campaign.send_coupon_qty}}</td>
                    <td>{{campaign.sale_order_total_qty}}</td>
                    <td>{{campaign.sale_order_total_amount}}</td>
                    <td>{{campaign.coupon_discount_amount}}</td>
                    <td>{{campaign.sale_order_rate*100|number:2}}%</td>
                </tr>
            </table>
        </div>
    </div>
 -->
    <!-- script：引入 js 文件 -->
    <#include 'inc.script.html'>

    <script type="text/javascript">
    	// piwik
        // document.title = '首页';
    </script>

<!-- bottom：加载loading和piwik -->
<#include 'inc.bottom.html'>
