<!--  head：页面的</head>之前代码 -->
<#include 'inc.head.html'>
<!-- new_member_analysis.html -->
<body ng-controller="newMemberAnalysis">
    <div class="div_class">
        <div class="title">新增会员分析</div>
        <div class="condition">
            <label class="condition_year">
                日期 <select 
                    class="select_ele" 
                    ng-model="search_condition.year_code" 
                    ng-options="m.id as m.value for m in year_list">
                </select>
                <select 
                    class="select_ele" 
                    ng-model="search_condition.month_code" 
                    ng-options="m.id as m.value for m in month_list">
                </select>
            </label>
            
            <button class="new_mem_button" ng-click="getNewMemberAnalysis1()" ng-disabled="button_disable_class=='button_disable'" ng-class="button_disable_class">{{button_disable_class=='button_disable'?'搜索...':'搜索'}}</button>

        </div>
        <div class="new_members">
            {{month_code2}}月新增人数:<span> {{charts_data1.body.member_count}} </span>人&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {{month_code2}}月日均新增人数:<span> {{charts_data1.body.avg_member_count}} </span>人
        </div>

        <div class="echarts_div">
            <!-- loading -->
            <div class="new_member_for_month1" ng-show="loading1" ng-style="{height:height_style_mem1.height}">
                <img class="loading1" src="assets/images/loading.gif">
            </div>

            <!-- echarts -->
            <div id="new_member_for_month1" ng-style="{height:height_style_mem1.height}" ng-show="!loading1"></div>

            <img class="new_member_help_img1" ng-show="!new_member_help_show1&&!loading1" ng-mouseover="new_member_help_show1=true" src="assets/images/help_off.png">
            <img class="new_member_help_img1" ng-show="new_member_help_show1&&!loading1" ng-mouseleave="new_member_help_show1=false" src="assets/images/help_on.png">
            <div class="help_div new_member_help_div1" ng-class="{hidden:!new_member_help_show1}">
                <div>统计各渠道在查询月中，每一天的新增会员人数</div>
            </div>

        </div>

        <div class="echarts_div2">
            <!-- loading -->
            <div class="new_member_for_month2" ng-show="loading2" ng-style="{height:height_style_mem2.height}">
                <img class="loading2" src="assets/images/loading.gif">
            </div>
            <div class="new_member_for_month3" ng-show="loading3" ng-style="{height:height_style_mem3.height}">
                <img class="loading3" src="assets/images/loading.gif">
            </div>

            <!-- echarts -->
            <div id="new_member_for_month2" ng-style="{height:height_style_mem2.height}" ng-show="!loading2"></div>
            <div id="new_member_for_month3" ng-style="{height:height_style_mem3.height}" ng-show="!loading3"></div>

            <img class="new_member_help_img2" ng-show="!new_member_help_show2&&!loading2" ng-mouseover="new_member_help_show2=true" src="assets/images/help_off.png">
            <img class="new_member_help_img2" ng-show="new_member_help_show2&&!loading2" ng-mouseleave="new_member_help_show2=false" src="assets/images/help_on.png">
            <div class="help_div new_member_help_div2" ng-class="{hidden:!new_member_help_show2}">
                <div>各渠道新增会员人数，占当月新增总人数的百分比</div>
            </div>

            <img class="new_member_help_img3" ng-show="!new_member_help_show3&&!loading3" ng-mouseover="new_member_help_show3=true" src="assets/images/help_off.png">
            <img class="new_member_help_img3" ng-show="new_member_help_show3&&!loading3" ng-mouseleave="new_member_help_show3=false" src="assets/images/help_on.png">
            <div class="help_div new_member_help_div3" ng-class="{hidden:!new_member_help_show3}">
                <div>当月新增会员，在各个消费区间的分布情况</div>
            </div>
        </div>
        <div class="clear"></div> 
    </div>
    <!-- script：引入 js 文件 -->
    <#include 'inc.script.html'>

    <script type="text/javascript">
    	// piwik
        // document.title = '首页';
    </script>

<!-- bottom：加载loading和piwik -->
<#include 'inc.bottom.html'>
