<!--  head：页面的</head>之前代码 -->
<#include 'inc.head.html'>
<!-- re_purchasing_rate.html -->
<body ng-controller="rePurchasingRate">
    <!-- 会员复购率分析 -->
    <div class="div_class">
        <div class="condition rePurchasingRate">
            <p>会员复购率分析 </p>
            <label class="condition_year">
                日期 <select 
                    class="select_ele" 
                    ng-model="search_condition.time_code" 
                    ng-options="m.id as m.value for m in year_list">
                </select>
            </label>
            <div class="shop_code">
                <label ng-repeat="val in shop_list track by $index">
                    <input 
                        type="radio" 
                        ng-value="val.shop_code" 
                        ng-model="search_condition.shop_code">
                        {{val.shop_name}}
                </label>
                <input type="text" placeHolder="指定店仓(编号)" ng-disabled="search_condition.shop_code=='all'" ng-model="shop_code_input" class="shop_code_input"/>

            </div>
            <button class="" ng-click="getRepeatShoppingRate()" ng-disabled="button_disable_class=='button_disable'" ng-class="button_disable_class">{{button_disable_class=='button_disable'?'搜索...':'搜索'}}</button>
        </div>
        <div class="charts_re_purchasing_rate_div">
            <div class="swich">
                <div class="swich1" ng-class="{swich_select:search_condition.calculate_type=='by_member'}" ng-click="getRepeatShoppingRate('by_member')">按会员计算</div>
                <div class="swich2" ng-class="{swich_select:search_condition.calculate_type=='by_order'}" ng-click="getRepeatShoppingRate('by_order')">按交易计算</div>
                <img class="re_purchase_help_img" ng-show="!search_condition.help_show" ng-mouseover="search_condition.help_show=true" src="assets/images/help_off.png">
                <img class="re_purchase_help_img" ng-show="search_condition.help_show" ng-mouseleave="search_condition.help_show=false" src="assets/images/help_on.png">
                <div class="re_purchase_help_div" ng-class="{hidden:!search_condition.help_show}">
                    <div>
                        <div>按会员计算：以每个会员为独立单位重复购买产品的次数<div class="re_purchase_help">例：有10个会员购买了产品，6个产生了重复购买，则复购率为60%</div></div>
                        
                        <div>按交易计算：重复购买交易次数与总交易次数的比值<div class="re_purchase_help">例：某月共交易100笔订单，其中的20个人是二次购买，且这20人中又有10个人做了三次购买，则重复购买次数为30次，复购率为30%</div></div>
                    </div>
                </div>
            </div>
            
            <div id="charts_re_purchasing_rate" ng-style="{height:charts_height.height}"></div>
        </div>
        <div class="clear"></div>
    </div>

    <!-- 会员销售额分析 -->
    <div class="div_class">
        <div class="title">会员销售额分析
            <img class="mem_sale_help_img" ng-show="!search_condition.mem_sale_help_show" ng-mouseover="search_condition.mem_sale_help_show=true" src="assets/images/help_off.png">
            <img class="mem_sale_help_img" ng-show="search_condition.mem_sale_help_show" ng-mouseleave="search_condition.mem_sale_help_show=false" src="assets/images/help_on.png">

            <div class="mem_sale_help_div" ng-class="{hidden:!search_condition.mem_sale_help_show}">
                <div>
                    <div>查询时间内，会员的消费金额占销售总额的百分比</div>
                </div>
            </div>
        </div>
        <div class="condition">
            <label class="condition_year">
                日期 <input type="date" ng-model="sale_data.start_date"> 至 
                <input type="date" class="end_date" ng-model="sale_data.end_date">

                <button class="" ng-click="search2()" ng-disabled="button_disable_class2=='button_disable'" ng-class="button_disable_class2">{{button_disable_class2=='button_disable'?'搜索...':'搜索'}}</button>
            </label>
        </div><br>
        <div class="block_div">
            <div class="block">
                <img src="assets/images/sales_volume.png">
                <div class="amount">{{sale_out_data.total_amount}}</div>
                <div class="amount_string">销售额（元）</div>
            </div>
            <div class="block">
                <img src="assets/images/coupon.png">
                <div class="amount">{{sale_out_data.member_total_amount}}</div>
                <div class="amount_string">会员销售额（元）</div>
            </div>
            <div class="block">
                <img src="assets/images/proportion.png">
                <div class="amount">{{sale_out_data.member_money_percent*100|number:2}}%</div>
                <div class="amount_string">会员销售占比</div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <!-- script：引入 js 文件 -->
    <#include 'inc.script.html'>

    <script type="text/javascript">
    	// piwik
        // document.title = '首页';
    </script>

<!-- bottom：加载loading和piwik -->
<#include 'inc.bottom.html'>
