html, body, div, span, applet, object, iframe, h1, h2, h3, 
h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, 
big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, 
thead, tr, th, td { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0; 
    font-weight: inherit; 
    font-style: inherit; 
    font-size: 18px; 
    font-family: 'PingFangSC-Regular',"Helvetica Neue",Helvetica,sans-serif; 
    vertical-align: baseline; 
} 
*{
    box-sizing: border-box;
}
:focus { 
    outline: 0; 
} 
table { 
    border-collapse: separate; 
    border-spacing: 0; 
} 
caption, th, td { 
    text-align: left; 
    font-weight: normal; 
} 
a img, iframe { 
    border: none; 
} 
ol, ul { 
    list-style: none; 
} 
input, textarea, select, button { 
    font-size: 100%; 
    font-family: inherit; 
} 
select { 
    margin: inherit; 
} 
/* == clearfix == */ 
.clearfix:after { 
    content: " "; 
    display: table;
    clear: both;  
} 


#loading{
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height:100%;
	text-align: center;
	z-index: 9999;
	background:#eee;
}
#loading p{
	margin-top: 300px;
	font-size: 40px;
	color: #000;
}


.hidden{
	display: none!important;
}
.range input{
    float:left!important;
    width:45%!important;
    border:1px solid #d5d5d5!important;
}
.range span{
    float: left;
    line-height: 55px;
    padding: 0 10px
}
/*loading*/
.data_content{
    height: 100%;
    display: none;
    z-index: 100;
}
.data_content .loading{
  height: 100%;
  position: absolute;
  /*background: #000;*/
  z-index: 10;
  /*opacity: .3;*/
  width: 100%;
  display: none
}
.loader{
  margin: 0 0 2em;
  height: 100px;
  width: 30%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
  /*display: none;*/
  position: absolute;
  top: 20%;
  left: 35%;
  z-index: 20
}

.dataTables_wrapper .dataTables_processing{
  text-indent: -9999px;
  background: url(../img/loading_b.gif) no-repeat 50% 50%!important;
  background-size:80px ! important;
}
svg path,
svg rect{
  fill: #1296db;
}

/*loading*/
.data_content div img{
  width: 80px;
  /*display: none;*/
}
.data_content div{
  position: fixed;
  left: 45%;
  top: 45%;
  z-index: 10
}
#tab3 #tblGift_wrapper,#tab2 #tblProduct_wrapper{
  top: 0!important;
}
#tab2 .wrap table.cx tbody tr td{
  line-height: 25px;
  padding:10px 15px;
  border: 0;
}
#tab2 .wrap.has tbody tr:nth-child(odd),#tab2 .wrap.nohas tbody tr:nth-child(odd),#tab3 .wrap.has tbody tr:nth-child(odd){
  background: #fafafa;
}
/*#tab2 .wrap.nohas table,#tab3 .wrap.nohas table{
  text-align: center;
  margin: 10px 15px;
}*/
/*#tblProduct tbody tr td{
  text-align: center;
}*/
#tblProduct table.dataTable tbody{
  border-bottom: 1px solid #d5d5d5;
}
.select{
  position: relative;
  padding-bottom: 10px;
  left: 13.5%;
  top: 7.5%;
  z-index: 1
}
.select #select{
  border:1px solid #d5d5d5;
  background: #fff;
  width: 150px;
  padding: 2px 10px;
}
#tab2 .wrap.nohas{
  display: none;
}
.condition .radio{
  display: inline-block;
  /*margin-right: 5%;*/
}
.radio label{
  margin-right: 20px;
}

.condition_div{
  display: none;
}





