<!DOCTYPE html>
<html lang="zh-CN" ng-app="NtSF" ng-cloak="" class="ng-cloak">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>FE</title>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="assets/js/jquery.min.js"></script> 
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/moment.min.js"></script>
    <script src="assets/js/jquery.daterangepicker.js"></script>
    <script src="assets/js/demo.js"></script>
    <!-- Bootstrap -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- style.less -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/about_date.css" rel="stylesheet">
    <link href="assets/css/demo.css" rel="stylesheet">
    <link href="assets/css/common.css" rel="stylesheet">
    <link href="assets/js/daterangepicker.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        // var storage = window.localStorage;
        // var TOKEN = (!!storage.getItem('NXPB_TOKEN'))?storage.getItem('NXPB_TOKEN'):'';
        // if(!!!TOKEN){
        //     window.location.href = 'login.html';
        // }
    </script>
  </head>
<body ng-controller="about_date">
    <!-- <div class="header new_header">
        <ul>
            <li style="width: 10%;height:100%"></li>
            <li>
                <a href="form.html" class="header_a" tkey="store_sale"></a>
            </li>
            <li>
                <a href="javascript:;" class="active header_a" tkey="multichannel_sale"></a>
            </li>
            <li>
                <a href="form2.html" class="header_a" tkey="store_target"></a>
            </li>
            <li>
                <a href="form3.html" class="header_a" tkey="store_week"></a>
            </li>
            <li>
                <a href="form4.html" class="header_a" tkey="kucun_analysis"></a>
            </li>
            <li style="width: 10%"></li>
        </ul>
    </div> -->
    <div class="well">
        <div style="background-color: white;">
            <div class="row header_5" style="margin-left:0;border:1px solid #eaeaea;border-bottom: 0;">
                <span class="blue_block"></span>
                <div class="col-md-6 title">销售统计</div>
                <div class="col-md-3">
                    <ul class="nav nav-pills">
                        <li role="presentation" ng-class="{active:search_type=='today'}" ng-click="getData('today')"><a>实时查询</a></li>
                        <li role="presentation" ng-class="{active:search_type=='history'}" ng-click="getData('yestoday')"><a>历史查询</a></li>
                    </ul>
                </div>
                <div ng-show="search_type=='today'" class="col-md-3 date_title">
                    <!-- <div class="datepicker" id="datepicker" display=""> -->
                        <span class="startDate_today">{{startDate}}</span>
                        <img class="date_img" src="assets/img/date_disabled.png" alt="">
                    <!-- </div> -->
                </div>
                <div ng-show="search_type!='today'" class="col-md-3 date_title">
                    <div class="datepicker" name="daterange" id="datepicker" display="">
                        <span ng-class="{startDate_today:yestoday_class}" class="startDate">{{startDate}}</span>
                        <img src="assets/img/date.png" alt="">
                    </div>
                </div>
            </div>
            <div class="row" style="margin-left:0;border:1px solid #eaeaea;border-bottom: 0;">
                <div class="col-md-6">
                    <div class="row"><div class="col-md-5 col-md-offset-5 tit_mar">线上、线下销售合计</div></div>
                    <div class="row _mar">
                        <div class="col-md-5">销售额</div>
                        <div class="col-md-7 sale_amount">{{data.total_amount|currency : ''}}</div><!-- |currency:'￥' -->
                    </div>
                    <div class="row _mar">
                        <div class="col-md-5">销售单数</div>
                        <div class="col-md-7 sale_count">{{data.order_count}}笔</div>
                    </div>
                    <div class="row _mar">
                        <div class="col-md-5">销售数量</div>
                        <div class="col-md-7 sale_count">{{data.product_count}}件</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-8" style="border-left:1px solid #eaeaea">
                            <div id="sale_on_off"></div>
                        </div>
                        <div class="col-md-4" style="margin-top: 2rem;">
                            <div>
                                <div class="line_on">线上销售额</div> 
                                <div class="line_on_off_amount">{{data.on_line_sales|currency : ''}}</div>
                            </div>
                            <div style="margin-top: 1rem;">
                                <div class="line_off">线下销售额</div> 
                                <div class="line_on_off_amount">{{data.offline_sales|currency : ''}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex_channel">
                <div class="flex_lr" ng-repeat="channel_sale in data.channel_sales">
                    <div class="channel_left tit_1">{{channel_sale.channel_name}}<div class="tit_2">{{channel_sale.channel_name2}}</div></div>
                    <div class="channel_right">
                        <div>商品数量：{{channel_sale.product_count}}</div>
                        <div>订单数量：{{channel_sale.order_count}}</div>
                        <div>销售额：{{channel_sale.amount|currency : ''}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="div2">
            <div class="row header_5" style="margin-left:0;border:1px solid #eaeaea;border-bottom: 0;">
                <span class="blue_block"></span>
                <div class="col-md-10 title">员工销售统计</div>
            </div>
            <div class="staff_sort">
                <div class="staff_left">
                    <div class="tr_div" style="height:65px;">
                        &nbsp;
                    </div>
                    <div class="tr_div staff_color tit_1" style="height:58px;display: flex;align-items: center;">
                        H5
                    </div>
                    <div class="tr_div" style="height:58px;">
                        <div class="tit_1">导购宝</div>
                        <div class="tit_2">送货到家</div>
                    </div>
                    <div class="tr_div staff_color" style="height:58px;">
                        <div class="tit_1">导购宝</div>
                        <div class="tit_2">自提/自助收银</div>
                    </div>
                    <div class="tr_div tit_1" style="height:58px;display: flex;align-items: center;">
                        小程序
                    </div>
                </div>
                <div class="staff_right" style="overflow-x: scroll;position: absolute;left: 12rem;width: 84.5%;overflow: auto;">
                    <div class="right_column" ng-repeat="employee_sale in data.employee_sales">
                        <div>
                            <div class="tit">{{employee_sale.user_name}}</div>
                            <div class="tit_num">{{employee_sale.amount|currency : ''}}</div>
                        </div>

                        <div ng-class="{staff_color:user_channel_sale.channel_code=='H5'||user_channel_sale.channel_code=='SAA_pickup'}" ng-repeat="user_channel_sale in employee_sale.user_channel_sales">
                            <div>{{user_channel_sale.amount|currency : ''}}</div>
                            <div>{{user_channel_sale.order_count}}单/{{user_channel_sale.product_count}}件</div>
                        </div>
                        <!-- <div>
                            <div>1000.00</div>
                            <div>1单/2件</div>
                        </div>
                        <div class="staff_color">
                            <div>1000.00</div>
                            <div>1单/2件</div>
                        </div>
                        <div>
                            <div>0.00</div>
                            <div>0/0</div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 日期弹框 -->
    <div class="wrapper">
        <div class="dataTab">
            <ul>
                <li id="dp-day"><label class="active"><input type="radio" name="mode" value="day" id="mode_day" />日</label></li>
                <li id="dp-week"><label><input type="radio" name="mode" value="week" id="mode_week" />周</label></li>
                <li id="dp-month"><label><input type="radio" name="mode" value="month" id="mode_month" />月</label></li>
                <li id="dp-range"><label style="border-right: 1px solid rgb(18, 150, 219);"><input type="radio" name="mode" value="customize" id="mode_range" />自定义</label></li>
            </ul>
            <button ng-click="getData()">查询</button>
        </div>
        <div class="picker" id="pickerBox" style="width: 850px;">
            <div style="float: left; width: 100%;">
                <div id="pickerContainer"></div>
                <div class="shopForce">
                    <img src="assets/img/Group.png" />
                </div>
            </div>
        </div>
    </div>
    <div class="background" style="display: none;"></div>
    <!-- <div class="loading loading-detail"> 加载中 ...</div> -->

    <!-- script：引入 js 文件 -->
    
<script src="assets/js/jquery.min.js"></script> 
<!-- <script src="assets/js/iscroll-4.js"></script> -->
<script src="assets/js/echarts.min.js"></script>
<script src="assets/js/bootstrap.js"></script>
<script src="assets/js/angular-1.4.8.min.js"></script>
<script src="assets/js/angular-resource.js"></script>
<script src="assets/js/angular-route.js"></script>
<script src="assets/js/common.js"></script>
<!-- <script src="assets/js/demo.js"></script> -->
<script src="assets/api/api.config.js"></script>
<script src="assets/api/api.js"></script>
<script>
	
</script>


<!-- bottom：加载loading和piwik -->
    <script>
    // var site_id = getUrlParameter('site_id');
    // var _paq = _paq || [];

    // _paq.push(['enableLinkTracking', true]);
    // (function() {
    //     try {
    //         // var site_id = false;
            
    //         if(site_id == '' || site_id == false){
    //             return
    //         }
    //         var u = "//a.nexttao.com";
            
    //         if(u == "" || u == "false" || u == false){
    //             return
    //         }
    //         _paq.push(['setTrackerUrl', u+'piwik.php']);
    //         _paq.push(['setSiteId', site_id]);
    //         _paq.push(['setDocumentTitle', document.title]);
           
    //         _paq.push(['trackPageView']);
    //         var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    //         g.type='text/javascript'; 
    //         g.async=true; 
    //         g.defer=true;
    //         g.src=u+'piwik.js';
    //         s.parentNode.insertBefore(g,s);
    //     }catch (e){
    //         console.log(e);
    //     }
    // })();
  </script>

  <div id="bg"></div>

  <div class="data_content" style="display: none">
    <div class="loading"></div>
    <!-- loading -->
    <div class="loader loader--style1" title="0">
      <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
      <path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
        s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
        c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"/>
      <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
        C22.32,8.481,24.301,9.057,26.013,10.047z">
        <animateTransform attributeType="xml"
          attributeName="transform"
          type="rotate"
          from="0 20 20"
          to="360 20 20"
          dur="0.5s"
          repeatCount="indefinite"/>
        </path>
      </svg>
      <p>加载中...</p>
    </div>  
  </div>

  </body>
</html>