<!DOCTYPE html>
<html lang="zh-CN" ng-app="NtSF" ng-cloak="" class="ng-cloak">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>FE</title>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="assets/js/jquery.min.js"></script> 
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/moment.min.js"></script>
    <script src="assets/js/jquery.daterangepicker.js"></script>
    <script src="assets/js/demo.js"></script>
    <!-- Bootstrap -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- style.less -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/about_date.css" rel="stylesheet">
    <link href="assets/css/demo.css" rel="stylesheet">
    <link href="assets/css/common.css" rel="stylesheet">
    <link href="assets/js/daterangepicker.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        // var storage = window.localStorage;
        // var TOKEN = (!!storage.getItem('NXPB_TOKEN'))?storage.getItem('NXPB_TOKEN'):'';
        // if(!!!TOKEN){
        //     window.location.href = 'login.html';
        // }
    </script>
  </head>
<body>
	<!-- header：body的共同header -->
    <!-- <a href="index.html">首页</a><br><br> -->
    <div class="container" ng-controller="test2">
    	<div ng-repeat="i in keys"  ng-init="outerIndex1 = $index">
	    	<div ng-repeat="j in leftLists" ng-init="outerIndex2 = $index">

	          <ul style="border-top: 1px solid #d5d5d5" ng-repeat="k in j[i] track by $index">
	          <!-- selected:$index -->
	            <li class="item" ng-click="detailDesc($index,k.order_no,k.order_status,'ACCEPT','ziti')" ng-class="{selected:$index == currentList}">
	              <div style="width: 60%">
	                <span>{{outerIndex1}}{{outerIndex2}}{{$index}}</span>
	                <span>{{(k.order_date).split(' ')[1]}}</span>
	                <span>{{k.order_no}}</span>
	              </div>
	              <div style="width: 40%;text-align: right;">
	                <span>待备货</span>
	                <span class="number">{{k.order_line.length}}件</span>
	              </div>
	            </li>
	          </ul>
	        </div>
	    </div>
    </div>
    <!-- script：引入 js 文件 -->
    
<script src="assets/js/jquery.min.js"></script> 
<!-- <script src="assets/js/iscroll-4.js"></script> -->
<script src="assets/js/echarts.min.js"></script>
<script src="assets/js/bootstrap.js"></script>
<script src="assets/js/angular-1.4.8.min.js"></script>
<script src="assets/js/angular-resource.js"></script>
<script src="assets/js/angular-route.js"></script>
<script src="assets/js/common.js"></script>
<!-- <script src="assets/js/demo.js"></script> -->
<script src="assets/api/api.config.js"></script>
<script src="assets/api/api.js"></script>
<script>
	
</script>

    <script type="text/javascript">
    	// piwik
        document.title = 'test';
    </script>

<!-- bottom：加载loading和piwik -->
    <script>
    // var site_id = getUrlParameter('site_id');
    // var _paq = _paq || [];

    // _paq.push(['enableLinkTracking', true]);
    // (function() {
    //     try {
    //         // var site_id = false;
            
    //         if(site_id == '' || site_id == false){
    //             return
    //         }
    //         var u = "//a.nexttao.com";
            
    //         if(u == "" || u == "false" || u == false){
    //             return
    //         }
    //         _paq.push(['setTrackerUrl', u+'piwik.php']);
    //         _paq.push(['setSiteId', site_id]);
    //         _paq.push(['setDocumentTitle', document.title]);
           
    //         _paq.push(['trackPageView']);
    //         var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    //         g.type='text/javascript'; 
    //         g.async=true; 
    //         g.defer=true;
    //         g.src=u+'piwik.js';
    //         s.parentNode.insertBefore(g,s);
    //     }catch (e){
    //         console.log(e);
    //     }
    // })();
  </script>

  <div id="bg"></div>

  <div class="data_content" style="display: none">
    <div class="loading"></div>
    <!-- loading -->
    <div class="loader loader--style1" title="0">
      <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
      <path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
        s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
        c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"/>
      <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
        C22.32,8.481,24.301,9.057,26.013,10.047z">
        <animateTransform attributeType="xml"
          attributeName="transform"
          type="rotate"
          from="0 20 20"
          to="360 20 20"
          dur="0.5s"
          repeatCount="indefinite"/>
        </path>
      </svg>
      <p>加载中...</p>
    </div>  
  </div>

  </body>
</html>
