<#include 'inc.head.html'>
<body>
	<!-- header：body的共同header -->
    <!-- <a href="index.html">首页</a><br><br> -->
    <div class="container" ng-controller="test2">
    	<div ng-repeat="i in keys"  ng-init="outerIndex1 = $index">
	    	<div ng-repeat="j in leftLists" ng-init="outerIndex2 = $index">

	          <ul style="border-top: 1px solid #d5d5d5" ng-repeat="k in j[i] track by $index">
	          <!-- selected:$index -->
	            <li class="item" ng-click="detailDesc($index,k.order_no,k.order_status,'ACCEPT','ziti')" ng-class="{selected:$index == currentList}">
	              <div style="width: 60%">
	                <span>{{outerIndex1}}{{outerIndex2}}{{$index}}</span>
	                <span>{{(k.order_date).split(' ')[1]}}</span>
	                <span>{{k.order_no}}</span>
	              </div>
	              <div style="width: 40%;text-align: right;">
	                <span>待备货</span>
	                <span class="number">{{k.order_line.length}}件</span>
	              </div>
	            </li>
	          </ul>
	        </div>
	    </div>
    </div>
    <!-- script：引入 js 文件 -->
    <#include 'inc.script.html'>

    <script type="text/javascript">
    	// piwik
        document.title = 'test';
    </script>

<!-- bottom：加载loading和piwik -->
<#include 'inc.bottom.html'>
